<div id="surgery-form">
  <div class="ui centered form segment">
    <h2 class="ui center aligned header">Edit Surgery Details</h2>
    <br/>
    <%= render partial: "form", locals: {surgery: @surgery} %>
  </div>
</div>

<style>
#surgery-form {
  text-align: center;
}
</style>
