<div id="patient-form">
	<div class="ui centered form segment">
		<h2 class="ui center aligned header"> Edit Details </h2>
		<br/>
		<%= render partial: "form", locals: {patient: @patient} %>
	</div>
</div>
<style>
#patient-form{
    text-align: center;
}
</style>
