<div id="available-form">
	<div class="ui centered form segment">
		<h2 class="ui center aligned header"> Edit Available </h2>
		<br/>
		<%= render partial: "form", locals: {doctor: @doctor} %>
	</div>
</div>
<style>
#available-form{
    text-align: center;
}
</style>
